<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<map>
    <string name="gawb_user_bg_a_key_1">0.686416</string>
    <string name="pref_double_tap_key">zoom</string>
    <string name="key_promote_launch_wear">0</string>
    <string name="pref_last_installed_version_code">67445856</string>
    <string name="gawb_user_bg_a_key_3">0.686416</string>
    <string name="gawb_user_bg_a_key_2">0.686416</string>
    <string name="gawb_user_bg_g_key_1">0.556984</string>
    <string name="gawb_user_bg_g_key_2">0.556984</string>
    <string name="gawb_user_bg_g_key_3">0.556984</string>
    <string name="expcomp_key_1">0</string>
    <string name="quality_enh_corrector_key_2">0</string>
    <string name="ses_autofps_id_key_2"></string>
    <string name="ses_autofps_id_key_1"></string>
    <string name="expcomp_key_2">0</string>
    <string name="gawb_user_bg_l_key_3">0.340845</string>
    <string name="fix_saturation_key_3">1</string>
    <string name="jpg_scaling_enable_key_3">0</string>
    <string name="gawb_user_bg_l_key_2">0.340845</string>
    <string name="jpg_scaling_enable_key_2">1</string>
    <string name="gawb_user_bg_l_key_1">0.340845</string>
    <string name="pref_switch_to_previous_mode_command_string">71</string>
    <int name="tooltip_impression_count_for_long_press" value="1" />
    <int name="tooltip_impression_count_for_cinematic_pan_edu" value="1" />
    <string name="jpg_scaling_enable_key_1">0</string>
    <string name="pref_has_checked_cheetah_mode">1</string>
    <string name="jpg_opt_q_key_2">90</string>
    <string name="jpg_opt_q_key_1"></string>
    <string name="pref_camera_picturesize_back_key"></string>
    <string name="gawb_user_rg_n_key_3">0.478985</string>
    <string name="gawb_user_rg_n_key_2">0.478985</string>
    <string name="pref_mode_vesper_level">0</string>
    <string name="flash_mode_key">0</string>
    <string name="gawb_user_rg_h_key_3">0.645941</string>
    <string name="pref_social_app_org_telegram_messenger">1</string>
    <string name="gawb_user_rg_n_key_1">0.478985</string>
    <string name="gawb_user_rg_h_key_1">0.645941</string>
    <string name="gawb_user_rg_h_key_2">0.645941</string>
    <string name="fix_saturation_key_1">1</string>
    <string name="pref_camera_hdrplus_option_available_key">1</string>
    <string name="fix_saturation_key_2">1</string>
    <string name="e_m_quality_key_1">0</string>
    <string name="gawb_user_bg_f_key_3">0.269751</string>
    <string name="gawb_user_bg_f_key_1">0.269751</string>
    <string name="gawb_user_bg_f_key_2">0.269751</string>
    <string name="e_m_quality_key_2">0</string>
    <string name="gawb_user_bg_m_key_2">0.686416</string>
    <string name="gawb_user_bg_m_key_3">0.686416</string>
    <string name="pref_camera_video_back_flashmode_thermally_disabled_key">0</string>
    <string name="c_c_m_quality_key_2">0</string>
    <string name="gawb_user_rg_o_key_1">0.645941</string>
    <string name="gawb_user_rg_o_key_3">0.645941</string>
    <string name="gawb_user_rg_o_key_2">0.645941</string>
    <string name="dev_setting_filter_key">front</string>
    <string name="gawb_user_rg_b_key_1">0.442842</string>
    <string name="gawb_user_rg_b_key_2">0.442842</string>
    <string name="pref_double_tap_launch_edu_count">2</string>
    <string name="gawb_user_rg_b_key_3">0.442842</string>
    <string name="c_c_m_quality_key_1">0</string>
    <string name="pref_camera_catcher_logo_shot_edu_count_key">5</string>
    <string name="device_key">blueline</string>
    <string name="ses_tl_id_key_2"></string>
    <string name="pref_camera_resolution">max</string>
    <string name="quality_enh_corrector_key_1">0</string>
    <string name="ses_tl_id_key_1"></string>
    <string name="key_aspect_ratio">0</string>
    <string name="galley_key"></string>
    <string name="gawb_user_rg_i_key_2">0.538163</string>
    <string name="gawb_user_rg_i_key_3">0.538163</string>
    <string name="t_m_quality_key_2">0</string>
    <string name="t_m_quality_key_1">0</string>
    <string name="gawb_user_rg_i_key_1">0.538163</string>
    <string name="pref_camera_selfie_mirror_key">1</string>
    <string name="camera.res.override_front">4298x6560</string>
    <string name="pref_camera_frames_b_photo">0</string>
    <string name="gawb_user_rg_c_key_2">0.887744</string>
    <string name="gawb_user_bg_m_key_1">0.686416</string>
    <string name="gawb_user_rg_c_key_3">0.887744</string>
    <int name="tooltip_impression_trigger_count_for_portrait_smarts_chip" value="0" />
    <string name="gawb_user_rg_c_key_1">0.887744</string>
    <string name="pref_af_mode_front">0</string>
    <string name="pref_camera_hdr_plus_back_flashmode_thermally_disabled_key">0</string>
    <string name="gawb_user_ratio_key_1">1.00293</string>
    <string name="gawb_user_ratio_key_2">1.00293</string>
    <string name="gawb_user_bg_k_key_1">0.250332</string>
    <string name="gawb_user_ratio_key_3">1.00293</string>
    <string name="lens_bl_key"></string>
    <string name="gawb_user_bg_k_key_3">0.250332</string>
    <string name="gawb_user_bg_k_key_2">0.250332</string>
    <string name="ses_120fps_id_key_2"></string>
    <long name="tooltip_latest_impression_timestamp_for_pref_ext_mic_bluetooth_chip_display_count" value="1736090658269" />
    <string name="ses_120fps_id_key_1"></string>
    <long name="tooltip_latest_impression_timestamp_for_auto_timelapse_tooltip" value="1736090489308" />
    <string name="pref_has_set_social_share_apps">1</string>
    <string name="pref_upgrade_version">27</string>
    <long name="tooltip_latest_impression_timestamp_for_micro_tutorial_dismiss" value="1735705764898" />
    <string name="wl_key_2"></string>
    <string name="pref_camera_gawb_f_photo">1</string>
    <string name="perf_has_shown_options_bar">1</string>
    <string name="wl_key_1"></string>
    <string name="gawb_user_rg_g_key_3">0.558293</string>
    <string name="gawb_user_rg_g_key_2">0.558293</string>
    <string name="gawb_user_rg_g_key_1">0.558293</string>
    <string name="gawb_user_rg_d_key_2">0.645941</string>
    <string name="gawb_user_rg_d_key_1">0.645941</string>
    <string name="pref_mode_vesperad_option">0</string>
    <string name="pref_video_fps_4k_key">FPS_60</string>
    <string name="quality_auto_corrector_key_1">0</string>
    <string name="hwlevel_key">4</string>
    <string name="ses_p_id_pt_key_2"></string>
    <string name="gawb_user_rg_d_key_3">0.645941</string>
    <string name="ses_p_id_pt_key_1"></string>
    <string name="pref_camera_dirty_lens_history_key1-1">-10.0|-3.3407145|</string>
    <string name="quality_auto_corrector_key_2">0</string>
    <string name="preview_key_1">0</string>
    <string name="gawb_user_bg_h_key_3">0.446765</string>
    <boolean name="finish_video_capture" value="true" />
    <string name="preview_key_2">0</string>
    <string name="gawb_user_bg_h_key_2">0.446765</string>
    <string name="gawb_user_bg_h_key_1">0.446765</string>
    <string name="pref_camera_dirty_lens_history_key1-2"></string>
    <string name="frame_count_b_photo_2">10</string>
    <string name="pref_camera_raw_output_option_available_key">1</string>
    <string name="gawb_user_rg_e_key_3">0.584017</string>
    <string name="gawb_user_rg_e_key_2">0.584017</string>
    <string name="pref_camera_single_shot_sound_key">0</string>
    <string name="capture_indicator_thumbnail_uri">content://media/external/images/media/1000046776</string>
    <string name="pref_video_fps_vb_key">FPS_30</string>
    <string name="ses_30fps_id_key_1"></string>
    <string name="perf_has_run_first_education">1</string>
    <string name="ses_30fps_id_key_2"></string>
    <string name="gawb_user_rg_e_key_1">0.584017</string>
    <string name="pref_zoom_out_command_string">20</string>
    <string name="peaking_key_3">1</string>
    <string name="gawb_user_bg_i_key_3">0.59211</string>
    <string name="peaking_key_2">1</string>
    <string name="gawb_user_bg_i_key_2">0.59211</string>
    <string name="peaking_key_1">1</string>
    <string name="execute_finish_on_key">1</string>
    <string name="pref_hdr_tooltip_countdown">0</string>
    <string name="gawb_user_bg_i_key_1">0.59211</string>
    <string name="lUpTi">1736836788459</string>
    <boolean name="camera.gouda.allow_widest_front" value="true" />
    <string name="save_storage_key">0</string>
    <string name="gawb_user_bg_j_key_3">0.686416</string>
    <string name="gawb_user_bg_j_key_2">0.686416</string>
    <string name="gawb_user_bg_j_key_1">0.686416</string>
    <string name="pref_camera_kepler_enabled_key">1</string>
    <int name="tooltip_impression_count_for_amber_edu" value="1" />
    <string name="pref_video_portrait_has_checked">1</string>
    <string name="gawb_user_rg_f_key_2">1.11318</string>
    <string name="gawb_user_rg_f_key_1">1.11318</string>
    <string name="merge_key_2">0</string>
    <string name="merge_key_1">0</string>
    <string name="gawb_user_rg_f_key_3">1.11318</string>
    <string name="pref_camera_dirty_lens_history_key2-2">-10.0|-7.7945724|</string>
    <string name="pref_audio_zoom_key">0</string>
    <string name="pref_af_mode_back">0</string>
    <boolean name="camera.lenstoggles_enable" value="true" />
    <string name="pref_zoom_in_command_string">19</string>
    <string name="pref_has_checked_dual_ev_brightness">0</string>
    <string name="pref_camera_catcher_key">0</string>
    <string name="pref_camera_dynamic_depth_enabled_key">0</string>
    <string name="pref_has_shown_longp_education">0</string>
    <string name="pref_camera_picturesize_front_key"></string>
    <string name="pref_camera_grid_lines_mode">0</string>
    <string name="gawb_user_bg_o_key_2">0.446765</string>
    <string name="c_c_a_m_quality_key_2">0</string>
    <string name="gawb_user_bg_o_key_3">0.446765</string>
    <long name="tooltip_latest_impression_timestamp_for_cinematic_pan_edu" value="1735898095713" />
    <string name="gawb_user_bg_o_key_1">0.446765</string>
    <string name="c_c_a_m_quality_key_1">0</string>
    <string name="pref_imax_audio_enabled_key">0</string>
    <string name="gawb_user_bg_d_key_3">0.446765</string>
    <string name="gawb_user_bg_d_key_1">0.446765</string>
    <string name="gawb_user_bg_d_key_2">0.446765</string>
    <string name="pref_manual_lens">0</string>
    <string name="s_m_quality_key_2">0</string>
    <string name="s_m_quality_key_1">0</string>
    <int name="tooltip_impression_count_for_pref_ext_mic_bluetooth_chip_display_count" value="14" />
    <string name="device_hdrplus_key_3">blueline</string>
    <string name="device_hdrplus_key_2">blueline</string>
    <string name="device_hdrplus_key_1">blueline</string>
    <string name="jpg_scaling_key_1">100</string>
    <string name="pref_camera_gawb_b_photo">0</string>
    <string name="jpg_scaling_key_3">100</string>
    <string name="jpg_scaling_key_2">100</string>
    <string name="slow_mo_fix_3">1</string>
    <string name="pref_camera_enable_iris">0</string>
    <string name="pref_micro_mode">0</string>
    <string name="sdk_ver_key">0</string>
    <string name="gawb_user_rg_k_key_1">0.967126</string>
    <string name="gawb_user_rg_k_key_2">0.967126</string>
    <string name="gawb_user_rg_k_key_3">0.967126</string>
    <string name="pref_mars_enabled">0</string>
    <string name="pref_volume_key_action">shutter</string>
    <string name="surfase_list_key_2">0</string>
    <string name="surfase_list_key_1">0</string>
    <string name="pref_camera_lens_selection_notice_shown_key">1</string>
    <int name="tooltip_impression_count_for_micro_tutorial_dismiss" value="1" />
    <string name="ses_p_id_ph_key_2"></string>
    <string name="ses_p_id_ph_key_1"></string>
    <string name="active_cam_id_back_key">2</string>
    <string name="google_id_key_1"></string>
    <string name="google_id_key_2"></string>
    <long name="tooltip_latest_impression_timestamp_for_amber_edu" value="1735898081346" />
    <string name="pref_camera_hdr_plus_key">auto</string>
    <string name="ses_p_id_ns_key_2"></string>
    <string name="pref_video_stabilization_key">0</string>
    <string name="ses_p_id_ns_key_1"></string>
    <string name="ses_hdr10_id_key_2"></string>
    <string name="raw_key_1">0</string>
    <string name="ses_hdr10_id_key_1"></string>
    <string name="gawb_user_rg_p_key_3">0.645941</string>
    <string name="raw_key_2">0</string>
    <int name="tooltip_impression_count_for_auto_timelapse_tooltip" value="1" />
    <string name="gawb_user_rg_p_key_2">0.645941</string>
    <boolean name="pref_key_reboot_completed" value="true" />
    <string name="gawb_user_rg_p_key_1">0.645941</string>
    <string name="antibanding_key_1">0</string>
    <string name="antibanding_key_2">0</string>
    <string name="ses_24fps_id_key_1"></string>
    <string name="gawb_user_rg_j_key_3">0.478985</string>
    <string name="gawb_user_rg_j_key_1">0.478985</string>
    <string name="ses_24fps_id_key_2"></string>
    <string name="gawb_user_rg_j_key_2">0.478985</string>
    <string name="pref_check_hal_update_after_gca_version">67445856</string>
    <string name="pref_camera_raw_output_notice_shown_key">1</string>
    <string name="ses_60fps_id_key_2"></string>
    <string name="h_p_m_quality_key_1">0</string>
    <string name="ses_60fps_id_key_1"></string>
    <string name="h_p_m_quality_key_2">0</string>
    <string name="pref_camera_cd_indicator_enabled_key">1</string>
    <string name="bl_key_1">0</string>
    <string name="bl_key_2">0</string>
    <string name="pref_storage_saver_auto_disable">0</string>
    <string name="ses_240fps_id_key_2"></string>
    <string name="pref_video_fps_p2018_key">FPS_60</string>
    <string name="gawb_user_bg_e_key_1">0.397625</string>
    <string name="pref_camera_raw_output_key">0</string>
    <string name="ses_240fps_id_key_1"></string>
    <string name="pref_switch_camera_command_string">47</string>
    <string name="gawb_user_bg_e_key_2">0.397625</string>
    <string name="gawb_user_bg_n_key_1">0.686416</string>
    <string name="pref_camera_sounds_key">0</string>
    <string name="active_cam_id_front_key">1</string>
    <string name="gawb_user_bg_n_key_2">0.686416</string>
    <string name="pref_switch_to_next_mode_command_string">72</string>
    <string name="gawb_user_bg_e_key_3">0.397625</string>
    <string name="gawb_user_bg_n_key_3">0.686416</string>
    <string name="gawb_user_rg_a_key_1">0.478985</string>
    <string name="pref_social_app_com_instagram_android">1</string>
    <string name="pref_social_app_com_whatsapp">1</string>
    <string name="gawb_user_rg_a_key_2">0.478985</string>
    <string name="gawb_user_rg_a_key_3">0.478985</string>
    <string name="pref_video_fps_cm_key">FPS_30</string>
    <string name="frame_count_f_photo_1">-1</string>
    <string name="pref_update_available_chip_dismissal_times">0</string>
    <string name="gawb_user_rg_l_key_3">0.867481</string>
    <string name="d_c_m_quality_key_2">0</string>
    <string name="d_c_m_quality_key_1">0</string>
    <string name="c_f_a_key_1">0</string>
    <string name="c_f_a_key_2">0</string>
    <string name="key_social_share_opt_in">1</string>
    <string name="gawb_user_bg_b_key_2">0.769319</string>
    <string name="perf_has_run_second_education">1</string>
    <string name="gawb_user_bg_b_key_1">0.769319</string>
    <string name="gawb_user_bg_b_key_3">0.769319</string>
    <string name="gawb_user_rg_l_key_2">0.867481</string>
    <string name="gawb_user_rg_l_key_1">0.867481</string>
    <string name="key_ff_opt_in">0</string>
    <string name="pref_has_checked_dual_ev_shadow">0</string>
    <string name="pref_camera_frames_f_photo">0</string>
    <boolean name="disable_cam_char_fix_keys" value="false" />
    <string name="c_c_i_quality_key_1">0</string>
    <string name="perf_has_run_education">1737268955435</string>
    <string name="gawb_user_rg_m_key_3">0.478985</string>
    <string name="gawb_user_rg_m_key_2">0.478985</string>
    <string name="c_c_i_quality_key_2">0</string>
    <string name="gawb_user_bg_c_key_3">0.340845</string>
    <string name="gawb_user_bg_c_key_2">0.340845</string>
    <string name="gawb_user_bg_c_key_1">0.340845</string>
    <string name="gawb_user_rg_m_key_1">0.478985</string>
    <string name="pref_camera_dirty_lens_history_key1"></string>
    <string name="pref_camera_dirty_lens_history_key2"></string>
    <string name="lens_wl_key"></string>
    <string name="pref_camera_dirty_lens_history_key3"></string>
    <string name="pref_shutter_command_string">66</string>
    <string name="pref_video_resolution">RES_2160P</string>
    <string name="gawb_user_bg_p_key_1">0.446765</string>
    <string name="shasta_key_1">0</string>
    <string name="gawb_user_bg_p_key_2">0.446765</string>
    <string name="pref_has_checked_gouda_mode">1</string>
    <string name="shasta_key_2">0</string>
    <string name="pref_camera_advice_settings">1</string>
    <string name="gawb_user_bg_p_key_3">0.446765</string>
    <string name="n_r_m_quality_key_2">0</string>
    <string name="n_r_m_quality_key_1">0</string>
</map>
